html {
  background-color: black;
}
.card {
  display: flex;
  width: 200px;
  height: 300px;
  justify-content: space-between;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
}
#playing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.left {
  align-self: flex-start;
}
.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.right {
  align-self: flex-end;
}
