html {
  background-color: black;
}
.card {
  display: flex;
  width: 200px;
  height: 300px;
  justify-content: space-between;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
}
#playing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.left {
  align-self: flex-start;
  width: min-content;
  text-align: center;
  line-height: 0.9em;
}
.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  overflow-wrap: anywhere;
  text-align: center;
  font-size: 4.5rem;
  line-height: 1em;
}
.right {
  align-self: flex-end;
  rotate: 180deg;
  width: min-content;
  text-align: center;
  line-height: 0.9em;
}
.red {
  color: red;
}
.black {
  color: black;
}
