/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  accent-color: #7dd3fc;
}

body {
  background-color: #0284c7;
  color: #fff;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
}

header {
  padding: 2rem 0;
  text-align: center;

  h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 640px) {
  header h1 {
    font-size: 56px;
  }
}

img {
  margin-bottom: 1rem;
}

#img-caption,
#tribute-info {
  text-align: center;
}
iframe {
  margin: 4rem auto;
}

#tribute-info {
  margin: 2rem 0;
}

#tribute-link {
  margin-top: 2rem;
  text-align: center;
  display: block;
}

#tribute-text {
  display: grid;
  gap: 1rem;
}
