/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  accent-color: #7dd3fc;

  --navbar-width: 300px;
}

#navbar {
  background: lightblue;
  padding: 1rem;
  text-align: center;

  header {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    display: block;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
  }

  a:hover {
    background-color: aliceblue;
  }
}

body {
  display: grid;
  min-height: 100vh;
}

main {
  padding: 2rem;

  header {
    font-weight: 700;
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }

  code {
    background: lightslategray;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
  }
}

.main-section {
  margin-bottom: 2rem;
}

@media screen and (min-width: 640px) {
  #navbar {
    position: fixed;
    min-height: 100vh;
    width: var(--navbar-width);
  }

  main {
    margin-left: var(--navbar-width);
  }
}
